<div id="new_unit_form">
	
<%= error_messages_for :unit %>

<% form_for(:new_unit, :url => user_units_path(current_user)) do |f| %>

	<label>New
		<p>
			<%= f.text_area :body, :id => 'new_unit' %>
		</p>	
		
  </label>

	


  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

</div>


<%- content_for :head  do -%>
	<script type="text/javascript">
	  function resize() {

			document.getElementById('new_unit')..wrappedJSObject.scrollIntoView(false);
			
  	}

   window.onload = resize;
	</script>

<%- end -%>